{% extends "master.html" %}
{% load static %}

{% block title %}
	لیست کالاها
{% endblock %}


{% block content %}

    <div class="main-wrapper">
        <section class="unique-feature-area section-gap" id="unique">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10 text-white">Some Features that Made us Unique</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-unique-product">

                            {% for product in products %}
                                    <img class="img-fluid" src="{% static 'img/u' %}{{ product.id }}.jpg" alt="">
                                    <div class="desc">
                                        <h4>
                                            <a href="/product/{{product.id}}">{{ product.name }}</a>
                                        </h4>
                                        <h6> {{ product.price }} تومان</h6>
                                        <!-- <h6>{{ product.get_category_display }} </h6> --> <!-- the way we can show category in django -->
                                        <a class="text-uppercase primary-btn" href="/product/{{product.id}}">مشاهده بیشتر</a>
                                    </div>

                            {% endfor %}

                        </div>
                    </div>
					
                </div>
            </div>	
        </section>        
    </div>

{% endblock %}

